@page
@model IndianFilmManager.Pages.Cinemas.AddEditModel
@{
    ViewData["Title"] = Model.IsEdit ? "Редактировать фильм" : "Добавить фильм";
}

<div class="container">
    <header class="text-center my-4">
        <h1 class="display-6">@ViewData["Title"]</h1>
    </header>

    <form method="post">
        <input type="hidden" asp-for="Cinema.Id" />
        <div class="form-group">
            <label asp-for="Cinema.Name"></label>
            <input asp-for="Cinema.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Cinema.Year"></label>
            <input asp-for="Cinema.Year" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Cinema.Score"></label>
            <input asp-for="Cinema.Score" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Cinema.ActorId1">Актёр 1</label>
            <select asp-for="Cinema.ActorId1" asp-items="@(new SelectList(Model.Actors, "Id", "Name"))" class="form-control">
                <option value="">Выберите актёра</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cinema.ActorId2">Актёр 2</label>
            <select asp-for="Cinema.ActorId2" asp-items="@(new SelectList(Model.Actors, "Id", "Name"))" class="form-control">
                <option value="">Выберите актёра</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cinema.ActorId3">Актёр 3</label>
            <select asp-for="Cinema.ActorId3" asp-items="@(new SelectList(Model.Actors, "Id", "Name"))" class="form-control">
                <option value="">Выберите актёра</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cinema.ActorId4">Актёр 4</label>
            <select asp-for="Cinema.ActorId4" asp-items="@(new SelectList(Model.Actors, "Id", "Name"))" class="form-control">
                <option value="">Выберите актёра</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cinema.GenreId1">Жанр 1</label>
            <select asp-for="Cinema.GenreId1" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))" class="form-control">
                <option value="">Выберите жанр</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cinema.GenreId2">Жанр 2</label>
            <select asp-for="Cinema.GenreId2" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))" class="form-control">
                <option value="">Выберите жанр</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cinema.GenreId3">Жанр 3</label>
            <select asp-for="Cinema.GenreId3" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))" class="form-control">
                <option value="">Выберите жанр</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>